In [1]:
import pandas
import yfinance
import seaborn
import numpy

In [2]:
# function to fetch data from yahoo finance for 1 year
def FetchData(Tickers,Period="1y",Interval='1d',Start=None,End=None,Group_by='column',Columns=['Adj Close']):

    """
    Return the data for tickers
    Parameters:
        tickers : str, list             List of tickers to download
        period : str             Valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max Either Use period parameter or use start and end
        interval : str             Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo Intraday data cannot extend last 60 days
        start: str             Download start date string (YYYY-MM-DD) or _datetime. Default is 1900-01-01
        end: str             Download end date string (YYYY-MM-DD) or _datetime. Default is now
        group_by : str             Group by 'ticker' or 'column' (default)
    """
    StockData = yfinance.download(Tickers,start=Start,end=End,period=Period,interval=Interval)

    if Columns!=None:
        SelectedData = StockData.loc[:,Columns]
    else:
        SelectedData = StockData

    return(SelectedData)

In [3]:
def Calculation(Data_Selected,Ticker,ColumnName):
    # calculate the log rate of return for the stocks
    Columns=[(ColumnName,i) for i in Ticker]

    for j in Columns:
        (_,ticker) = j
        Data_Selected[('LogDailyRate',ticker)]=numpy.log(Data_Selected[j]/Data_Selected[j].shift(1))
        


    return(Data_Selected)

In [4]:
Tickers_List = ['T','GE']
DataFrame = FetchData(Tickers_List)
Calculation(DataFrame,Tickers_List,'Adj Close')

[*********************100%***********************]  2 of 2 completed

             Adj Close            LogDailyRate
                    GE          T            T        GE
Date
2021-02-24  104.629852  27.272533          NaN       NaN
2021-02-25  101.758911  26.576332    -0.025859 -0.027823
2021-02-26  100.004448  25.889414    -0.026187 -0.017392
2021-03-01  104.550102  26.075071     0.007146  0.044452
2021-03-02  103.513382  26.195744     0.004617 -0.009966
...                ...        ...          ...       ...
2022-02-16  101.410004  23.940001    -0.016570  0.004844
2022-02-17   98.459999  23.760000    -0.007547 -0.029521
2022-02-18   92.690002  23.870001     0.004619 -0.060390
2022-02-22   94.150002  23.750000    -0.005040  0.015629
2022-02-23   92.650002  23.510000    -0.010157 -0.016060

[253 rows x 4 columns]